<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>


<script id="personTemplate" type="text/template">
<strong><%= name %></strong>(<%= age %>) - <%= job %> 
</script>

   
  
	<script type="text/javascript" src="js/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
	<script type="text/javascript" src="js/main1.js"></script>

</body>
</html>
